html, body {
    height: 100%;
}

#app {
    height: 100%;
}

.logged-in {
    font-size: 10px;
}

/* .card {
    perspective: 1000px;
}

.card-flip {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-flip[show="true"] {
    transform: rotateY(180deg); 
} */